spring:
  application:
    name: Finance Tracker API
  datasource:
    url: jdbc:postgresql://localhost:5432/finance_tracker_db
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: false
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

server:
  port: 8080
  servlet:
    context-path: /api

jwt:
  secret: financeTrackerSecretKeyForJWT2024FinanceTracker
  expiration: 86400000

logging:
  level:
    root: INFO
    com.financetracker: DEBUG
